<h1>Hello <%= @user.first_name%>

<p>First of all, thank you for signing up for the Room To Uc website.
Fatak, to verify that you are a real user, we need to verify the following code:<hr><%= @code%></p>

<p>good games.</p>