/*.gradient-custom {
  height:100%;
  background: #f093fb;

  background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

  background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
} */

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

a {
  text-decoration:none;
}

hr {
  display:inline;
  width:50%;
}


span {
  text-align:center;
  margin-bottom: 10px;
}

.span_itele {
  padding-left:25%;
}

.submit_button {
  text-align:center;
}

.error-messages {
  width:300px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  background: linear-gradient(to bottom right, rgba(240, 140, 240, 1), rgba(240, 82, 103, 1))
}